p{
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 90px;
    color: firebrick;
}

header{
    background-color: orange;
}

/*#para1{*/
    /**/
/*}*/

.para1{

    color: red;
    font-size: 30px;

}